body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    font-family: "Tan Twinkle", serif;
    color: #0F4C81;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: #0F4C81;
    color: white;
    border: none;
}

li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    background: #eee;
}